:root{
  --colorWhite: #F0F0F0;
  --colorLightRed: #E38482;
  --colorRed: #BF302C;
  --colorRedAlpha: #BF302C60;
  --colorDarkRed: #331212;
  --colorDarkRedAlpha: #33121260;
  --colorBlue: #1A28C2;
  --colorDarkBlue: #121533;
  --fontBody: 'Montserrat', sans-serif;
  --fontTitle: 'Poiret One', cursive;
}
*{
  box-sizing: border-box;
  outline: none;
  margin: 0;
  font-family: var(--fontBody);
  font-size: 1em;
}
html, body{
  background-color: var(--colorWhite);
  scroll-behavior: smooth;
}
h1, h2, h3{
  font-family: var(--fontTitle);
}

/*BACKGROUNDS*/
[class*="bgimg_"] {
  position: relative;
  background-position: center;
  background-size: cover;
  /*basta acrescentar as duas linhas a seguir para dar o efeito de parallax*/
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bgimg_1 {
  background-image: url("images/Suzana-Herculano-Houzel-no-TED-.png");
  height: 60em;
}
.bgimg_2 {
  min-height: 400px;
  background-color: var(--colorDarkRed);
  background-image: url("images/josh-riemer-OH5BRdggi2w-unsplash.jpg");
}  
[class*="bgcolor_"] {
  padding: 50px 80px;
  text-align: justify;
}
.bgcolor_1 {
  color: var(--colorDarkBlue);
  background-color: var(--colorWhite);
}
.bgcolor_2 {
  padding: 0 80px;
  color: var(--colorWhite);
  background-color: var(--colorDarkBlue);
}

/*MENU DE NAVEGAÇÃO*/
nav{
  position: sticky;
  top: 0;
  z-index: 1;
}
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 1.2em;
  background-color: var(--colorWhite);
}
nav a {
  display: block; /*precisa pois o <a> é inline por default*/
  text-decoration: none;
  color: var(--colorBlack);
  height: 5em;
  line-height: 5em; /*fará com que o texto centralize na vertical. Colocar mesmo valor do height*/
  padding: 0 40px;
  transition: 0.3s background-color, 0.3s color;
}
nav a:hover {
  background-color: var(--colorRed);
  color: var(--colorWhite);
}
nav a.active {
  background-color: var(--colorDarkRed);
  color: var(--colorWhite);
  cursor: default;
}

/*INÍCIO-APRESENTAÇÃO*/
section{
  height: calc(100% - 6em);
}
.section_bg{
  height: 100%;
  width: 35%;
  background-color: var(--colorDarkBlue);
}
.section_bg::after{
  content: "";
  position: absolute;
  left: 15%;
  height: calc(100% - 6em);
  width: 40%;
  background-color: var(--colorDarkBlue);
  transform: skew(25deg);
  /*transform-origin: top left;*/
}
.section_content{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 40%;
  margin: 0 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--colorWhite);
}
.section_content div{
  align-self: flex-start;
  display: inline-block;
}
.section_content_bar{
  height: 7.5em;
  width: 0.4em;
  margin-right: 10px;
  position: relative;
  top: 1px;
  background-color: var(--colorRed);
}
.section_content_name h1{
  font-size: 6em;
  line-height: 0.9em;
  letter-spacing: 4px;
}
.section_content_name h2{
  font-size: 2.5em;
}
.section_content h3{
  font-size: 1em;
  font-weight: 100;
  align-self: flex-end;
  margin: 10px 0 30px 0;
}
.section_content p{
  line-height: 1.2em;
}
.section_content a {
  height: 60px;
  width: 200px;
  background-color: var(--colorRedAlpha);
  color:  var(--colorWhite);
  border: 2px solid var(--colorRed);
  align-self: flex-start;
  line-height: 60px;
  text-align: center;
  font-weight: 600;
  letter-spacing: .1em;
  text-decoration: none;
  margin: 30px 0 0 0;
  transition: 0.2s background-color, 0.2s color, 0.2s font-size;
}
.section_content a:hover{
  background-color: var(--colorRed);
  border: 2px solid var(--colorRed);
  font-size: 1.1em;
}

/*BIOGRAPHY*/
.slideshow-container {
  max-width: 1000px;
  width: 100%;
  height: 565px;
  position: relative;
  margin: auto;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: var(--colorDarkRed);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: var(--colorDarkRed);
  color: var(--colorWhite);
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/*content*/
.mySlides{
  height: 100%;
}
.mySlides_title {
  color: var(--colorDarkBlue);
  font-size: 2em;
  line-height: 3em;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}
.mySlides_content{
  height: calc(100% - 6em);
  margin: 0 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.mySlides_content img{
  height: 70%;
}
.mySlides_content_text{
  width: 50%;
  text-indent: 20px;
}
.mySlides_content ul{
  width: 80%;
}
.mySlides_content ul li{
  margin: 10px 0;
}


/*SENTENCE*/
.bgimg_2{
  display: flex;
  justify-content: center;
  align-items: center;
}
.caption {
  width: 50%;
  display: flex;
  flex-direction: column;
  color: var(--colorWhite);
}
.caption span {
  background-color: var(--colorDarkRed);
  padding: 50px 15px;
  font-size: 25px;
  text-align: center;
  font-style: italic;
}
.caption p{
  text-align: right;
}

/*BOOKS*/
#books h1{
  font-size: 2em;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.books_container{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.books_container div img{
  width: 227px;
  height: 346px;
  margin: 30px;
}


/*FOOTER*/
footer{
  width: 100%;
  background-color:  var(--colorDarkBlue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 14px;
  color: var(--colorWhite);
}
.footer_back_top{
  padding: 20px 0;
}
.footer_description{
  width: 50%;
  column-count: 2;
  column-gap: 60px;
  margin: 0 0 30px 0;
}
.footer_about{
  display: flex;
  gap: 20px;
  padding: 12px 0;
}
.footer_about a {
  transition: all 300ms;
}
.footer_about a:hover {
  scale: 1.3;
}
.icone{
  width: 24px;
}
.icone--texto{
  margin: 0 8px;
  animation: pulsar 1s infinite alternate;
}
@keyframes pulsar{
  0%{
      transform: scale(.8);
  }
  100%{
      transform: scale(1.2);
  }
}
